@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,700;1,400&family=Instrument+Serif:ital@0;1&display=swap');

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

body {
    font-family: 'Instrument Sans', sans-serif;
}

h1 {
    font-family: 'Instrument Serif', serif;
}

/* Make the label cursor pointer */
.avatar-label {
    cursor: pointer;
    transition: border 0.3s ease;
}

/* Add an outline when the input is checked */
input[type="radio"]:checked + .avatar-label img {
    border: 3px solid #0d6efd;
    border-radius: 50%;
}